//- create a template that receives all the questions and possible answers for this survey
//- create another template that shows the results of this survey
extends layout
block content
  h1 #{survey.title}
  p share this survey at /surveys/#{survey.url}
  a(href="/surveys/#{survey.id}/results") results
  div.row
    div.col-lg-6
      each val, index in survey.questions
        div.ques-group(data-val='#{survey.id}')
          h3 #{val.question}
        div.input-group
          if val.interfaceType ==="text"
            each value, answer in val.answers
              textarea.text-answer(name='#{val.id}',data-ansval='#{value.id}' rows="3")
          else
            each value, answer in val.answers
              div.select-ans-div
                //- span.input-group-addon
                input.selected-answer(type="radio",name='#{val.id}',value='#{value.id}')
                span #{value.answer}
  input.email-id(type='text', name="userName")
  button.submit-survey-response(type='button') Submit Response

//- div.input-group
//-           if val.interfaceType ==="text"
//-             textarea.text-answer(type="text", data-quesVal='#{val.id}',data-ansVal='#{value.id}',rows="3")
//-           else
//-             each value, answer in val.answers
//-               div.select-ans-div #{value.answer}
//-                 span.input-group-addon
//-                   input.selected-answer(type="radio",name='#{val.id}',value='#{value.id}')
