extends layout
block content
  h1 #{survey.title}
  div.row
    each val, index in survey.questions
      div.col-lg-6
        div.ques-group(data-val='#{survey.id}') #{val.question}
        div.input-group
          if val.interfaceType ==="text"
            each value, answer in val.answers
              textarea.text-answer(data-quesVal='#{val.id}',data-ansVal='#{value.id}', rows="3")
          else
            each value, answer in val.answers
              div.select-ans-div #{value.answer}
                span.input-group-addon
                  input.selected-answer(type="radio",name='#{val.id}',value='#{value.id}')
  button.submit-survey-response(type='button') Submit Response
