extends layout
block content
  h1 #{survey.title}
  div.row
    div.col-lg-6
      each val, index in survey.questions
        h3.ques-group(data-val='#{survey.id}') #{val.question}
        div.input-group
          if val.interfaceType ==="text"
            each value, answer in val.answers
              textarea.text-answer(data-quesVal='#{val.id}',data-ansVal='#{value.id}', rows="3")
          else
            each value, answer in val.answers
              div.select-ans-div
                input.selected-answer(type="radio",name='#{val.id}',value='#{value.id}')
                span #{value.answer}
                //- span.input-group-addon
  input.email-id(type='text', name="userName")
  button.submit-survey-response(type='button') Submit Response
